= content_for :language_name do
  &nbsp

.front-splash
  .container
    .message
      It takes work.
    .small-message
      %i.fa.fa-star
      Top tutorials, recommended by programmers
= render @languages
