@import "font-awesome";

//my variables
$light-gray: #f7f7f9;

$dark-gray: #8A8A8A;

$teal: #67BCE6;

$dark-teal: #1C4145;

$green: #51d900;

$dark-green: #43DB91;

$yellow: #fbed00;

$orange: #FF890A;

$red: #FF0A0A;

$light-yellow: #fffd92;

$container-large-desktop: 960px;

$navbar-default-link-color: black;

$font-size-base: 20px;

@import "bootstrap";
@import "home";
@import "language";
@import "list_link";
@import "new_link";
@import "sessions";
