
body {
  padding-top: $navbar-height;
  @media (min-width: $screen-md-min) {
    padding-top: 75px;
  }
}

a {
  color: $dark-teal;
}

.show .links-container {
  padding-top: 120px;
}

.navbar-right {
  line-height: 30px;
  @media (min-width: $screen-md-min) {
    padding: 30px 0px;
  }
}

.modal-header {
  background: $teal;
  font-weight: bold;
  font-size: 2em;
}

.modal-content {
  border-radius: 0px;
}

.modal-body {
  padding: 40px;
  font-size: 2em;
}

.navbar {
  background: $teal;
  border-bottom: 0px;
}

.mobile-right {
  font-size: 0.7em;
  float: right;
  padding: 10px;
  img {
    width: 22px;
  }
}
.navbar-brand {
  font-size: 0.7em;
  padding: 10px;
  @media (min-width: $screen-md-min) {
    font-size: 1.5em;
    padding: 30px 0px;
  }



  color: black;
  font-weight: bold;
}

.navbar-right {

  @media (min-width: $screen-md-min) {
    font-size: 0.7em;
  }
}

.login-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

img.avatar {
  width: 25px;
}

.front-splash {
  height: 400px;
  padding: 60px 0px;
  background-color: $light-gray;

  @media (min-width: $screen-md-min) {
    font-size: 2em;
  }

  .message {
    font-weight: bold;
  }
}



.footer {
  background: $dark-gray;
  height: 500px;
}

ul {
  padding: 0px;
  margin: 0px;
}


.add-link-button {
  font-size: 0.5em;
  float: right;
  padding-top: 50px;
  cursor: pointer;
}
