
body {
  padding-top: 75px;
}

a {
  color: $dark-teal;
}

.show .links-container {
  padding-top: 120px;
}

.navbar-right {
  line-height: 30px;
  padding: 30px 0px;
}

.modal-header {
  background: $teal;
  font-weight: bold;
  font-size: 40px;
}

.modal-content {
  border-radius: 0px;
}

.modal-body {
  padding: 40px;
  font-size: 40px;
}

.navbar {
  background: $teal;
  border-bottom: 0px;
}
.navbar-brand {
  padding: 30px 0px;
  color: black;
  font-weight: bold;
  font-size: 2em;
}

.login-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

img.avatar {
  width: 25px;
}

.front-splash {
  height: 400px;
  font-size: 2em;
  padding: 60px 0px;
  background-color: $light-gray;
  // background: url("/assets/ruby-power.JPG") no-repeat;
  background-size: cover;

  .message {
    font-weight: bold;
  }
}



.footer {
  background: $dark-gray;
  height: 500px;
}

ul {
  padding: 0px;
  margin: 0px;
}


.add-link-button {
  font-size: 20px;
  float: right;
  padding-top: 50px;
  cursor: pointer;
}
