
body {
  padding-top: 2.5em;

  &.show {
    padding-top: 3.5em;

    .navbar {
      height: 3.5em;
    }
  }
  @media (min-width: $screen-sm-min) {
    padding-top: 4em;

    &.show {
      padding-top: 4em;

      .navbar {
        height: inherit;
      }
    }
  }
}

a {
  color: #000;
}

.mobile-right {
  font-size: 0.7em;
  float: right;
  padding: 15px 10px;
  img {
    width: 22px;
  }
}


.navbar-right {

  @media (min-width: $screen-sm-min) {
    font-size: 0.7em;
  }
}

.login-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

img.avatar {
  width: 20px;

  @media (min-width: $screen-sm-min) {
    width: 25px;
  }
}

.front-splash {
  // padding: 60px 0px;
  background-color: $light-gray;
  border-bottom: 5px solid silver;



  .message {
    padding-top: 1em;
    font-weight: bold;
    font-size: 2em;
    @media (min-width: $screen-sm-min) {
      padding-top: 2em;
      font-size: 3em;
    }
  }

  .small-message {
    // font-weight: bold;
    display: inline-block;
    padding: 0.5em;
    margin-top: 1.5em;
    background-color: silver;
    font-size: 0.7em;

    @media (min-width: $screen-sm-min) {
      // margin-top: 1.5em;
      font-size: 1.5em;
    }
  }
}



.footer {
  background: $dark-gray;
  color: white;
  padding: 60px 0px;
  a {
    color: white;
    text-decoration: underline;
  }
  #footer-header {
    font-size: 2em;
  }
  #signoff {
    float: right;
  }

  img {
    float: right;
    margin-top: 30px;
  }
}

ul {
  padding: 0px;
  margin: 0px;
}
