.heading {
  background: $teal;

  padding: 10px;
  font-weight: bold;
  color: black;
  position: relative;
  z-index: 10;

  @media (min-width: $screen-md-min) {
    font-size: 2em;
  }

  &.sticky {
    position: fixed;
    left: 0px;
    visibility: hidden;
    width: 100%;
    z-index: 9;
  }

  a {
    color: #000;
  }

  .container {
    position: relative;
    padding: 0px;
    @media (min-width: $screen-md-min) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.show .heading {
  position: fixed;
  left: 0px;
  width: 100%;
}

.links-container {
  padding: 0px;
  @media (min-width: $screen-md-min) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.links-ul {
  padding: 0px;
}

.add-link-button {
  font-size: 0.5em;
  position: absolute;
  bottom: 5px;
  right: 10px;
  cursor: pointer;
}
