.heading {
  // background: $teal;
  font-weight: bold;
  color: black;

  a:hover {
    text-decoration: none;
  }

  .container {
    position: relative;
    padding: 0px;
    @media (min-width: $screen-sm-min) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.links-container {
  padding: 0px;
  @media (min-width: $screen-sm-min) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.links-ul {
  padding: 0px;
}

.add-link-button {
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  cursor: pointer;
}
