@import 'variables';


li {
  list-style-type: none;
}

.link-star {
  left: 10px;
  top: 30px;
  position: absolute;
}

.link-container {

  padding-left: 40px;
}


.link {
  a:hover {
    color: black;
    text-decoration: none;
  }

  position: relative;
  font-size: 3em;

  padding: 0px;
  border-bottom: 1px solid silver;
  cursor: pointer;

  &.new-link {
    transition: background-color 1000ms linear;
    background-color: $light-yellow;
  }
  .link-head {
    padding: 30px 0px;
  }
  .link-title {
    padding: 3px;
  }
  .link-metadata {
    line-height: 40px;
    font-size: 20px;
  }

  &:hover {
    background-color: $light-gray;
  }

  .checkmark {
    color: $dark-gray;

    &:hover {
      color: $dark-teal;
    }

    &.voted {
      color: $dark-teal;
    }
  }

  .link-description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-style: italic;


    .link-author {
      font-style: normal;
    }
  }

  .link-url {
    float: right;
    background: $green;
    font-size: 35px;
    padding: 10px;

    &:hover {
      background: $dark-green;
    }
  }

  .level-tag {
    margin: 5px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    background: $yellow;
    position: relative;
    bottom: 5px;
    font-weight: bold;
  }

  .user-votes {
    position: relative;
    bottom: 5px;
    margin: 5px;
  }

  .votes-count {
    margin: 5px;
  }

}
