

li {
  list-style-type: none;
}

.link-star {
  left: 10px;
  top: 30px;
  position: absolute;
}

.link-container {
  padding-left: 15px;
  padding-right: 15px;
  // padding-left: 40px;
}


.link {
  a:hover {
    color: black;
    text-decoration: none;
  }

  position: relative;

  @media (min-width: $screen-md-min) {
    font-size: 2em;
  }

  padding: 0px;
  border-bottom: 1px solid silver;
  cursor: pointer;

  &:last-child {
    border: none;
  }

  &.new-link {
    transition: background-color 1000ms linear;
    background-color: $light-yellow;
  }
  .link-head {
    padding: 0.5em 0;
    @media (min-width: $screen-md-min) {
      padding: 1em 0;
    }
    // padding: 30px 0px;

    &.see-all a {
      color: $dark-gray;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .link-title {
    padding: 3px;
  }
  .link-metadata {
    line-height: 40px;
    font-size: 1em;
  }

  &:hover {
    background-color: $light-gray;
  }

  .checkmark {
    color: $dark-gray;

    &:hover {
      color: $dark-teal;
    }

    &.voted {
      color: $dark-teal;
    }
  }

  .link-description {
    font-size: .5em;
    line-height: 1.5;
    margin-bottom: 20px;
    font-style: italic;


    .link-author {
      font-style: normal;
    }
  }

  .link-url {
    float: right;
    background: $green;
    font-size: 1em;
    padding: 10px;

    &:hover {
      background: $teal;
    }
  }

  .level-tag, .free-tag {
    margin: 5px;
    font-size: .5em;
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 5px;
    font-weight: bold;
  }
  .free-tag {
    background: $dark-green;
  }
  .level-tag {


    &.Beginner {
      background: $yellow;
    }
    &.Intermediate {
      background: $orange;
    }
    &.Advanced {
      background: $red;
    }
  }


  .user-votes img {
    position: relative;
    bottom: 5px;
    margin: 5px;
  }

  .votes-count {
    margin: 5px;
  }

}
