.navbar-fixed-top {
  z-index: 8;
}

.navbar-header {
  padding: 0px;
}

.navbar-brand {
  font-size: $language-header-sm;
  padding: 10px;
  @media (min-width: $screen-sm-min) {
    font-size: $language-header-lg;
    padding: 25px 20px;
  }
  color: black;
  font-weight: bold;
}

.navbar-brand {
  i {
    font-size: 0.8em;
  }

  img {
    margin-left: -80px;
    @media (min-width: $screen-md-min) {
      margin-left: 0px;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.navbar-right {

  @media (min-width: $screen-sm-min) {
    padding: 5px 0px;
    font-size: 0.7em;
  }
}


.navbar {
  border-bottom: 0px;
}

.language-nav {
  padding: 10px 0px;
  position: relative;
  display: inline;
  margin-top: 10px;
  // margin-top: 15px;
  margin-left: -9px;


  .language-name {
    display:inline-block;
    width: 170px;
    border-bottom: 1px solid #000;
    padding: 0px 5px;
    font-size: $language-header-lg;
    font-weight: bold;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}




.language-heading-name {
  font-size: $language-header-sm;
  padding: 20px;

  @media (min-width: $screen-sm-min) {
    padding: 20px 0px;
    position: relative;
    font-size: $language-header-lg;
    z-index: 15;
  }

}

.sticky {
  position: fixed;
  top: 0px;
  padding: 20px 0px;
  visibility: hidden;
  display: none;
  width: 100%;
  z-index: 8;
  font-size: $language-header-sm;
  font-weight: bold;
  color: black;

  @media (min-width: $screen-sm-min) {
    font-size: $language-header-lg;
    display: inherit;
  }

  .sticky-language {
    height: 0px;
  }
}

.special-footer {
  .sticky {

  }
}
