@import 'variables';

.field_with_errors {
  @extend .has-error;
  display: inline-block;
}

.new-link-container {
  background: $light-gray;
  position: relative;

  .header {
    font-size: 3em;
    background: #72ff1f;
    padding: 10px 0px;

    .header-title {
      padding: 30px 0px 30px 43px;
    }
  }

  .link-container {
    font-size: 40px;
  }

  input {
    background: $light-gray;
    border: none;
    border-bottom: 1px solid black;
  }

  textarea {
    background: $light-gray;
    width: 100%;
  }

  .row {
    margin: 25px 0px;
  }

  .submit-link {
    float: right;
    background: yellow;
    font-size: 35px;
    padding: 10px;
  }
}
