@import 'variables';

.field_with_errors {
  @extend .has-error;
  @extend .control-group;
  display: inline-block;
  color: red;
  list-style-type: none;
}

.new-link-form {
  font-size: 40px;



  textarea {
    width: 100%;
    background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 40px, #000 40px, #000 41px, white 41px);
    background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 40px, #000 40px, #000 41px, white 41px);
    background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 40px, #000 40px, #000 41px, white 41px);
    background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 40px, #000 40px, #000 41px, white 41px);
    background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 40px, #000 40px, #000 41px, white 41px);
    background-size: 100% 100%, 100% 100%, 100% 41px;
    line-height: 41px;
    padding: 3px 20px;

    &:focus {
      background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 40px, $teal 40px, $teal 41px, white 41px);
      background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 40px, $teal 40px, $teal 41px, white 41px);
      background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 40px, $teal 40px, $teal 41px, white 41px);
      background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 40px, $teal 40px, $teal 41px, white 41px);
      background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 40px, $teal 40px, $teal 41px, white 41px);
    }
  }

  input, textarea {
    font-size: 30px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  input {
    border-bottom: 1px solid black;

    &:focus {
      border-bottom: 1px solid $teal;
    }
  }

  .btn-primary {
    background-color: inherit;
    border: none;
    color: $dark-gray;
    font-size: 30px;

    &.active {
      color: $teal;
      box-shadow: none;
    }
  }

  .submit-link {
    float: right;
    background: $green;
    padding: 10px;
    border: 0px;
  }
}




// .new-link-container {
//   background: $light-gray;
//   position: relative;
//
//   form {
//     margin-top: 20px;
//   }
//   .header {
//     font-size: 3em;
//     background: $teal;
//     padding: 10px 0px;
//
//     .header-title {
//       padding: 30px 0px 30px 43px;
//     }
//   }
//
//   .link-container {
//     font-size: 40px;
//   }
//
//   input, textarea {
//     background-color: transparent;
//     font-size: 30px;
//     &:focus {
//       outline: none;
//     }
//   }
//
//   input {
//     border: none;
//     border-bottom: 1px solid black;
//
//     &:focus {
//       border-bottom: 1px solid $teal;
//     }
//   }
//
//   textarea {
//     border: none;
//     width: 100%;
//   }
//
//   .row {
//     margin: 25px 0px;
//   }
//
//   .submit-link {
//     float: right;
//     background: $green;
//     font-size: 35px;
//     padding: 10px;
//   }
// }
